* {
    font-family: 'Roboto', sans-serif;
}

header{
    text-align: center;
}

.main-container{
    margin: 50px 20px;
    text-align: center;
}

.main-container > div{
    margin-top: 50px;
}

.modal-open-button{
    cursor: pointer;
    padding: 20px;
    border-radius: 25px;
    border: 0px;
    color: white;
    box-shadow: 10px 10px 10px 0px rgba(55 55 55 / 20%);
    opacity: 0.8;
}

.modal-open-button:hover{
    opacity: 1;
    transform: translate3D(0,-1px,0) scale(1.03);
}

.modal-open-button.modal-open-button-default{
    background-color: black;
}

.modal-open-button.modal-open-button-scrollable{
    background-color: green;
}

.modal-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.modal-overlay.modal-overlay-visible{
    display: block;
}

.modal-container{
    display: none;
}

.modal-container.modal-container-visible{
    position:fixed;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255,255,255,0.7);
    border-radius: 20px;
    box-shadow: 20px 15px 20px 0px rgb(255 255 255 / 20%);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modal-container-not-scrollable.modal-container{
    color: red;
}

#modal-container-scrollable.modal-container{
    color: blue;
}

.modal-container .modal-container-controls{
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal-container .modal-container-controls .modal-container-close-button{
    background-color: red;
    opacity: 0.7;
    color: white;
    border-radius: 25px;
    padding: 10px;
    border: 0px;
}

.modal-container .modal-container-controls .modal-container-close-button:hover{
    opacity: 1;
    transform: translate3D(0,-1px,0) scale(1.03);
    cursor: pointer;
}