* {
    font-family: 'Roboto', sans-serif;
}

header{
    text-align: center;
}

.main-container{
    margin: 50px 20px;
    text-align: center;
}

.main-container > div{
    margin-top: 50px;
}

.modal-open-button{
    cursor: pointer;
    padding: 20px;
    border-radius: 25px;
    border: 0px;
    color: white;
    box-shadow: 10px 10px 10px 0px rgba(55 55 55 / 20%);
    opacity: 0.8;
}

.modal-open-button:hover{
    opacity: 1;
    transform: translate3D(0,-1px,0) scale(1.03);
}

.modal-open-button.modal-open-button-default{
    background-color: black;
}

.modal-open-button.modal-open-button-scrollable{
    background-color: green;
}

.modal-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.modal-overlay.modal-overlay-visible{
    display: block;
}

.modal-container{
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    justify-content: center;
    text-align: center;
    background: rgba(255,255,255,0.9);
    border-radius: 20px;
    box-shadow: 20px 15px 20px 0px rgb(255 255 255 / 20%);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    /* Let's add the overflow-y property */
    overflow-y: auto;
}

.modal-container.modal-container-visible{
    display: block;
}

#modal-container-not-scrollable.modal-container{
    color: red;
}

#modal-container-scrollable.modal-container{
    color: green;
}

.modal-container .modal-container-controls{
    position: absolute;
    right: 40px;
    top: 20px;
}

.modal-container .modal-container-controls .modal-container-close-button{
    background-color: red;
    opacity: 0.7;
    color: white;
    border-radius: 25px;
    padding: 10px;
    border: 0px;
}

.modal-container .modal-container-controls .modal-container-close-button:hover{
    opacity: 1;
    transform: translate3D(0,-1px,0) scale(1.03);
    cursor: pointer;
}

#modal-container-not-scrollable.modal-container .modal-container-content,
#modal-container-scrollable.modal-container .modal-container-content
{
    margin: 40px;
    text-align: justify;
}

#modal-container-scrollable.modal-container .modal-container-content .modal-container-content-no-scroll{
    margin: 30px;
}

#modal-container-scrollable.modal-container .modal-container-content .modal-container-content-scroll{
    position: absolute;
    width: auto;
    height: calc(100% - 140px);
    overflow-y: auto;
    margin: 10px 30px 30px 30px;
    padding: 0px 20px 0px 0px;
}

#modal-container-scrollable.modal-container .modal-container-content .modal-container-content-scroll::-webkit-scrollbar {
    width: 10px;
}

#modal-container-scrollable.modal-container .modal-container-content .modal-container-content-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #333; 
    border-radius: 10px;
}
    
#modal-container-scrollable.modal-container .modal-container-content .modal-container-content-scroll::-webkit-scrollbar-thumb {
    background: rgba(51,51,51,0.8);
    opacity: 0.6;
    border-radius: 10px;
}

#modal-container-scrollable.modal-container .modal-container-content .modal-container-content-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(51,51,51,1);
}
